@font-face {
    font-family: 'Aclonica';
    src: url(/fonts/Aclonica/Aclonica-Regular.ttf);
}

@font-face {
    font-family: 'Roboto regular';
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
}

/* héritage */


*, li, p {
    font-size: 2vh;
    font-family: 'Roboto regular';
    text-align: center;
    text-decoration: none;
    color: black;
}

body {
    background-image: linear-gradient(to bottom, rgba(219, 254, 252, 0), #DBFEFC);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    .firstContent {
        padding: 10vh;
    }

    .secondContent {
        padding: 10vh;
    }
}






