/*Les Polices*/

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 5vw;
    
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

p {
    
    color: #808080;
    line-height: 20px;
}

li {
    list-style: none;
    padding: 40px;
    margin: 50px;
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(194, 139, 89, 0.96);
    width: 20%;
}

a{
    position: relative;
    justify-content: center;
}

/*menu responsive version MOB*/

.header {
    height: fit-content;
    width: 100%;
}

.nav{
    left: 230px;
    top: 210px;
    width: 40%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.96);
    overflow: hidden;
    z-index: 1;
    max-height: 0;
    transition: max-height .3s ease-out;
}


li {
    padding: 10px;
    width: 76%;
    margin: 10px;
    
}
.menu1 {
    padding-inline-start: 0px;
}

.menu1 a{
    display: flex;
    margin-right: 10px;
    width: 100%;
    color: black;
    text-decoration: none;
    margin-top: 3px;
}

.menu1 a:hover{
    background-color: #ffffff;
    width: 100%;
}

.hamb{
    cursor: pointer;
    float: right;
    padding: 170px 10px; 
}

.hamb-line {
    background-image: linear-gradient(to left, rgba(58, 205, 252, 1), rgba(238, 57, 198, 0.72), rgba(102, 59, 224, 1));
    border-radius: 30px;   
    display: block;
    height: 6px;
    position: relative;
    width: 70px;
}

.hamb-line::before,
.hamb-line::after{
    background-image: linear-gradient(to left, rgba(58, 205, 252, 1), rgba(238, 57, 198, 0.72), rgba(102, 59, 224, 1));
    border-radius: 30px;   
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 12px;
}

.hamb-line::after{
    top: -12px;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

#header-img {
    width: 100%;
    position: absolute;
    overflow: hidden;   
}
#header-img h1 {
    color: white;
    position: relative;
    top: -100px;
    left: 20px;
    text-shadow: 5px 1px 10px white;
    width: 60%;
    
}

#chevres {
    position: relative;
    width: 100%;
    height: 200px;
    left: -10px;
}




/* Responsiveness VERSION WEB */

@media (min-width: 768px) {
    .nav{
        max-height: none;
        padding: 0%;
        position: relative;
        width: fit-content;
        background-color: transparent;
        top: 400px;
        

    }

    .menu1 li{
        float: right;
        width: 15%;
        padding: 20px;
        margin: 20px;
    }
    
    .menu1 a{
        display: flex;
        margin-right: 220px;
        padding: 10px;
        width: 100%;
        color: black;
        text-decoration: none;
    }

    .menu1 a:hover{
        background-color: transparent;
        color: rgba(194, 139, 89, 0.96);
    }

    .hamb{
        display: none;
    }
    
    .header {
        height: 100%;
        width:100%;
        
    }


    #header-img {
        width: 100%;
        position: absolute;
        overflow: hidden;   
    }


    #header-img h1 {
        color: white;
        position: relative;
        top: -680px;
        left: 20px;
        text-shadow: 5px 1px 20px white;
    }


    #chevres {
        position: relative;
        width: 100%;
        height: 600px;
        
    }
}